<div class="container m-4">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h1><%= @restaurant.name %></h1>
    <p><strong>Address:</strong> <%=@restaurant.address%></p>
    <p><strong>Phone:</strong> <%=@restaurant.phone_number%></p>
    <p><strong>Category:</strong> <%=@restaurant.category%></p>
  </div>

  <div class="m-3">
    <%= link_to "Back to home", restaurants_path, class: "btn btn-primary"%>
    <%# <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-danger"%>
    <%= link_to "See reviews", restaurant_reviews_path(@restaurant), class: "btn btn-success"%>
  </div>

  <h1>Write a new review</h1>
  <div class="m-5">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>

  <h1>Reviews for <%= @restaurant.name %></h1>

  <div id="reviews" class="m-4">
    <% @restaurant.reviews.each do |review| %>
    <div class="card-product m-2">
      <img src="https://avatar.iran.liara.run/public/4" />
      <div class="card-product-infos">
        <h4>Rating: <%= review.rating %></h4>
        <p>Comments: <%= review.content %></p>
      </div>
    </div>
    <% end %>

    <%= link_to "Back to #{@restaurant.name} page", @restaurant, class: "btn btn-warning"%>
  </div>

  <%# <%= link_to "Back to #{@restaurant.name} page", @restaurant, class: "btn btn-warning"%>
</div>
